body {
    background-color: aqua;
    font-family: Verdana, Times, serif;
    text-align: center;

}

#contribute {
    position: fixed;
    right: 1%;
}

#title {

}

#tagline {
    margin-top: -1%;
    font-style: italic;
}

#description {
    font-size: 120%;
}

#anyone {
    font-style: italic;
}

a {
    font-style: italic;
    text-decoration: none;
}

.code {
    font-family: monospace;
    background-color: #EEE;
}