@import url(http://fonts.googleapis.com/css?family=Fjord+One);

body {
    background-color: #EEE;
    font-family: "Fjord One", Verdana, Times, serif;
    text-align: center;

}

#contribute {
    position: fixed;
    right: 1%;
}

#header {
    position: fixed;
    top: 0%;
    right: 2%;
    overflow: hidden;
}

#content {
    position: absolute;
    top: 10%;
    height: 90%;
    width: 99%;
    overflow: auto;
}

#title {

}

#tagline {
    margin-top: -1%;
    font-style: italic;
}

#description {
    font-size: 120%;
    text-align: left;
    display: inline-block;
}

#anyone {
    #font-style: italic;
}

a {
    font-style: italic;
    text-decoration: none;
}

.code {
    font-family: monospace;
    background-color: #EEE;
}

.application {
    font-style: italic;
}